{% extends 'base.html' %}

{% block head %}
ISM db Add skill
{% endblock %}



{% block body %}
<div class="container">

	<table>
	    <tr>
	        <th>Field 1</th>
	        <th>Field N</th>
	    </tr>
	    {% for item in skill_lang %}
	    <tr> 
	        <td>{{ item.student }}</td>
	        <td>{{ item.skill }}</td>
	    </tr>
	    {% endfor %}

	    {% for item in skill_fram %}
	    <tr> 
	        <td>{{ item.student }}</td>
	        <td>{{ item.skill }}</td>
	    </tr>
	    {% endfor %}
	</table>

	{{ skill_other.skill }}
	<br/>
	{{ student.user.username }}
	<br/>
</div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success btn-sm" type="submit" value="Add" />
</form>

{% endblock %}