{% extends 'base.html' %}

{% block head %}
ISMdb | Вхід
{% endblock %}



{% block body %}




<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Увійдіть в систему</h3>
                </div>
                    
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <center>
                            {{ form.non_field_errors  }}
                            
                            <table class="login-table">
                            {% for field in form %}
                            <tr>
                                <td align="right">{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                            </table>

                            <p id="login_link">
                                <a href="{% url 'account:register' %}">Реєстрація</a>
                                |
                                <a href="{% url 'account:reset_password' %}">Відновити пароль</a>
                            </p>

                            <input class="btn btn-success" type="submit" value="Вхід" />
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}