{% load i18n %}{% autoescape off %}
{% blocktrans %}Ви отримали цей лист через те, що зробили запит на скидання паролю для облiкового запису користувача на {{ site_name }}.{% endblocktrans %}

{% trans "Будь ласка, перейдiть на цю сторiнку, та оберiть новий пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "У разi, якщо ви забули, ваше iм'я користувача:" %} {{ user.get_username }}

{% trans "Дякуємо за користування нашим сайтом!" %}

{% blocktrans %}Команда сайту: {{ site_name }}{% endblocktrans %}

{% endautoescape %}