{% extends 'base.html' %}

{% block body %}
<div class="container">
	<div class="page-header">
        <h1>Лист відправлно</h1>
    </div>
    <p>
        На електронну адресу, яку ви ввели, надіслано листа з інструкціями щодо відновлення паролю. У випадку, якщо обліковий запис з введеною адресою існує, ви маєте отримати листа найближчим часом.
        <br />
    </p>
    <p>
		Якщо Ви не отримали електронного листа, будь ласка переконайтеся, що ввели адресу яку вказували при реєстрації та перевірте папку зі спамом.
    </p>
</div>
{% endblock %}
