{% extends 'base.html' %}

{% block head %}
ISMdb | Реєстрація студента
{% endblock %}



{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Профіль: {{ user.username }}</h1>
    </div>

    <form class="form-horizontal" method="post">
        <br/>
        {% csrf_token %}
        
        {% for field in form %}
        
        <div class="form-group">
        <label class="col-sm-2 control-label" >{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {{ field.errors }}
                {{ field }}
                {% if field.help_text %}
                <p class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        
        {% endfor %}



        <div class="form-group">
        <label class="col-sm-2 control-label" >{{ skill_form.skill.label_tag }}</label>
            <div class="col-sm-10">
                <div class="scroll_entry">
                    {{ skill_form.skill }}
                </div>
            </div>
        </div>     
        <center><input class="btn btn-success btn-sm" type="submit" value="Зберегти" /></center>
    </form>

    <br />
</div>
{% endblock %}