{% extends 'base.html' %}

{% block head %}
ISMdb | Додання вмінь
{% endblock %}



{% block body %}
<div class="container">
    <div class="page-header">
        <a href="{% url 'account:edit_profile' username=user.username %}" class="btn btn-success btn-primary btn-lg" role="button">Повернутись до редагування профілю</a>
        <h1>Додати вміння</h1>
    </div>

    <p>Є дкілька типів вмінь:
    	<li>Мови програмування</li>
    	<li>Фреймворки</li>
    	<li>Інші вміння: бази даних, ide, алгоритми</li>
    </p>

    <h4>Якщо ви не бачите своє вміння серед наявного списку <a href="{% url 'core:add_skill' %}">додайте нове вміння</a>.</h4>


    <h3>Виберіть ваші вміння:</h3>

	<div class="panel-group" id="add_skill" role="tablist" aria-multiselectable="true">
	  
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headLang">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#add_skill" href="#language" aria-expanded="true" aria-controls="language">
	          Мови програмування
	        </a>
	      </h4>
	    </div>
	    <div id="language" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headLang">
	      <div class="panel-body">
  			<form class="form-horizontal" method="post">
  				{% csrf_token %}
	      		{{ language_form.as_p }}
				<input class="btn btn-success btn-sm" type="submit" name="language" value="Add" />
	      	</form>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headFram">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#add_skill" href="#framework" aria-expanded="false" aria-controls="framework">
	          Фреймворки
	        </a>
	      </h4>
	    </div>
	    <div id="framework" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headFram">
	      <div class="panel-body">
	      	<form class="form-horizontal" method="post">
  				{% csrf_token %}
	      		{{ framework_form.as_p }}
				<input class="btn btn-success btn-sm" type="submit" name="framework" value="Add" />
	      	</form>
	      </div>
	    </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headOther">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#add_skill" href="#other" aria-expanded="false" aria-controls="other">
	          Інші вміння
	        </a>
	      </h4>
	    </div>
	    <div id="other" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headOther">
	      <div class="panel-body">
	      	<form class="form-horizontal" method="post">
  				{% csrf_token %}
	      		{{ other_form.as_p }}
				<input class="btn btn-success btn-sm" type="submit" name="other" value="Add" />
	      	</form>
	      </div>
	    </div>
	  </div>
	</div>



</div>
{% endblock %}