{% extends 'base.html' %}

{% block head %}
ISMdb | Профіль
{% endblock %}

{% load static %}

{% block body %}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
	<div class="panel panel-info">
		<div class="panel-heading">
			<table style="width:100%;">
			  <tbody>
				<tr>
					<td><h1 class="panel-title">Профіль</h1></td>	

					{% if own_profile %}
					<td align="right">
						<h1 class="panel-title">
							<a href="{% url 'account:change_password' %}" class="btn btn-success", style="color: white;">
							  Змінити пароль
							</a>

							<a href="{% url 'account:edit_profile' username=user.username %}" class="btn btn-success", style="color: white;">
							  Редагувати профіль
							</a>
						</h1>
					</td>
					{% endif %}

				</tr>
			  </tbody>
			</table>
		</div>
		<div class="panel-body">
			<div class="row">
		      <table class="table table-user-information">
		        <tbody>

		          <tr>
		            <td align="right">Логін:</td>
		            <td>{{user_form.username}}</td>
		          </tr>
		          <tr>
		            <td align="right">Ім'я:</td>
		            <td>{{ user_form.last_name }}</td>
		          </tr>
		          <tr>
		            <td align="right">Прізвище:</td>
		            <td>{{ user_form.first_name }}</td>
		          </tr>
		          <tr>
		            <td align="right">Email:</td>
		            <td>{{ user_form.email }}</td>
		          </tr>


		          {% if student %}
		          <tr>
		            <td align="right">Група:</td>
		            <td>{{ student.group }}</td>
		          </tr>
		          <tr>
		            <td align="right">Рівень англійської:</td>
		            <td>{{ student_english }}</td>
		          </tr>
		          <tr>
		            <td align="right">GitHub:</td>
		            <td>
		              <a href="{{ student.github }}" id="github">{{ student.github }}</a>
		            </td>
		          </tr>
		          <tr>
		            <td align="right">Опис:</td>
		            <td>{{ student.description }}</td>
		          </tr>
		          {% endif %}

		          <tr>
		            <td align="right">Перевірений викладачем:</td>
		            
		            {% if user_form.validated_by %}
		            	<td>
				            <a href="{% url 'account:profile' username=user_form.validated_by.username %}" target="_blank">{{ user_form.validated_by }}</a>
				    	</td>
		            {% else %}
		            	{% if validation_permission %}
		            	<td>
		            		<form method="POST"> {% csrf_token %} 
			                    <input class="btn btn-sm btn-success" type="submit" name="user_validation" value="Підтвердити" />
        					</form>
		            	</td>
		            	{% else %}
		            	<td>Ні</td>
		            	{% endif %}

		            {% endif %}
		          </tr>
		          <tr>
		            <td align="right" style = "white-space: nowrap">Категорія:</td>
		            <td>{{ user_category }}</td>
		          </tr>

		        </tbody>
		      </table>		      
			</div>



			{% if student %}
				<button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#skills" aria-expanded="false" aria-controls="skills">Вміння</button>

				<div class="collapse" id="skills">
				  <div class="card card-block">
				    {% if skills %}

					<table class = "table table-striped">
						<thead>
						<tr>
				            <th>Вміння</th>
				            <th>Перевірений</th>
				            <th>Оновлено</th>
				         </tr>
						</thead>

				        <tbody>

	    				{% for i in skills %}
				          <tr>
				            <td style = "white-space: nowrap">{{ i.value }}</td>
            
				            {% if i.validated_by %}
				            <td style = "white-space: nowrap">
				                <a href="{% url 'account:profile' username=i.validated_by_username %}" target="_blank">{{ i.validated_by }}</a>
				            </td>
				            {% else %}

				            	{% if validation_permission %}
				            	<td>
				            		<form method="POST"> {% csrf_token %} 
					                    <input type="hidden" name="id" value="{{ i.id }}">
					                    <input class="btn btn-sm btn-success" type="submit" name="skill_validation" value="Підтвердити" />
                					</form>
				            	</td>
				            	{% else %}
					            <td>Немає</td>
					            {% endif %}

				            {% endif %}

				            <td style = "white-space: nowrap">{{ i.updated }}</td>
				          </tr>
				        {% endfor %}

				        </tbody>
				    </table>

					{% else %}
					<center>
				    	<p style="margin-top: 1em;">Пусто</p>
				    </center>
				    {% endif %}	

				  </div>
				</div>


			{% endif %}
		</div>
	</div>
</div>


{% endblock %}

