{% extends 'base.html' %}

{% block head %}
Search
{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Search {{ page }}</h1>

        <!--  debuging information  -->
        {% if langs %}
        {{ langs }} <br/>
        {% endif %}

        {% if this_page %}
        {{ this_page }}
        {% endif %}
        <!--  debuging information  -->

    </div>

    <form class="form-horizontal" method="post">
		<div class="col-xs-12 col-sm-12">
			<table>
				<thead>
					<tr>
			            <th class="col-xs-4 col-sm-4"></th>
			            <th class="col-xs-4 col-sm-4"></th>
			            <th class="col-xs-4 col-sm-4"></th>
			        </tr>
				</thead>
		        <tbody>
		        	<tr>
		        	<form method="post">
		        		{% csrf_token %}
			        	<td align="center">Language</td>
			        	<td align="center">{{ lang_form.value }}</td>
			        	<td align="center"><input class="btn btn-success" type="submit" name="add_lang"/></td>
			        </form>
			        </tr>
		        </tbody>
		    </table>
		</div>
	</form>


	<div class="col-xs-12 col-sm-12">
		<table class = "table table-striped">
			<thead>
				<tr>
		            <th class="col-xs-3 col-sm-3">Student</th>
		            <th class="col-xs-3 col-sm-3">English</th>
		            <th class="col-xs-6 col-sm-6">Skills</th>
		        </tr>
			</thead>
	        <tbody>
    			{% for i in students %}
		          <tr>
		            <td>{{ i.name }}</td>
		            <td>{{ i.lang }}</td>
		            <td>
		            	{% for s in i.skills %}
		            	{{ s }}
		            	{% endfor %}
		            </td>
		          </tr>
		        {% endfor %}
	        </tbody>
	    </table>

	</div>
</div>


{% endblock %}

