{% extends 'base.html' %}

{% block head %}
Search
{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Search, page = {{ page }}</h1>
        <a href="{% url 'core:search' %}" class="btn btn-primary">Reset filters</a>

        <!--  debuging information  -->

        <!--  debuging information  -->

    </div>

    <form class="form-horizontal" method="post">
		<div class="col-xs-12 col-sm-12">
			<table>
				<thead>
					<tr>
			            <th class="col-xs-4 col-sm-4"></th>
			            <th class="col-xs-4 col-sm-4"></th>
			            <th class="col-xs-4 col-sm-4"></th>
			        </tr>
				</thead>
		        <tbody>
		        	<tr>
		        	<form method="post">
		        		{% csrf_token %}
			        	<td align="center">{{ english_form.value.label_tag }}</td>
			        	<td align="center">{{ english_form.value }}</td>
			        	<td align="center"><input class="btn btn-success" type="submit" value="Set" name="english"/></td>
			        </form>
			        </tr>
		        	<tr>
		        	<form method="post">
		        		{% csrf_token %}
			        	<td align="center">{{ lang_form.value.label_tag }}</td>
			        	<td align="center">{{ lang_form.value }}</td>
			        	<td align="center"><input class="btn btn-success" type="submit" value="Add" name="langs"/></td>
			        </form>
			        </tr>
			        <tr>
		        	<form method="post">
		        		{% csrf_token %}
			        	<td align="center">{{ fram_form.value.label_tag }}</td>
			        	<td align="center">{{ fram_form.value }}</td>
			        	<td align="center"><input class="btn btn-success" type="submit" value="Add" name="frams"/></td>
			        </form>
			        </tr>
			        <tr>
		        	<form method="post">
		        		{% csrf_token %}
			        	<td align="center">{{ other_form.value.label_tag }}</td>
			        	<td align="center">{{ other_form.value }}</td>
			        	<td align="center"><input class="btn btn-success" type="submit" value="Add" name="others"/></td>
			        </form>
			        </tr>
		        </tbody>
		    </table>
		</div>
	</form>


	<div class="col-xs-12 col-sm-12">
		<table class = "table table-striped">
			<thead>
				<tr>
		            <th class="col-xs-3 col-sm-3">Student</th>
		            <th class="col-xs-3 col-sm-3">English</th>
		            <th class="col-xs-6 col-sm-6">Skills</th>
		        </tr>
			</thead>
	        <tbody>
	        	{% if students %}
    			{% for i in students %}
		          <tr>
		            <td><a href="{% url 'account:profile' username=i.username %}" target="_blank">{{ i.name }}</a></td>
		            <td>{{ i.lang }}</td>
		            <td>
		            	{% for s in i.skills %}
		            	{{ s }}
		            	{% endfor %}
		            </td>
		          </tr>
		        {% endfor %}
		        {% else %}
		        <tr>
		            <td>Empty</td>            
		        </tr>
		        {% endif %}
	        </tbody>
	    </table>

	</div>
</div>


{% endblock %}

