{% extends 'base.html' %}

{% block head %}
Search
{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Search</h1>
    </div>

    <form class="form-horizontal" method="post">
		<div class="col-xs-12 col-sm-12">
			<table>
				<thead>
					<tr>
			            <th class="col-xs-4 col-sm-4"></th>
			            <th class="col-xs-4 col-sm-4"></th>
			            <th class="col-xs-4 col-sm-4"></th>
			        </tr>
				</thead>
		        <tbody>
		        	<tr>
			        	<td align="center">Language</td>
			        	<td align="center">{{ add_lang.value }}</td>
			        	<td align="center"><input class="btn btn-success" type="submit" value="Add" name="add_lang"/></td>
			        </tr>
		        </tbody>
		    </table>
		</div>
	</form>


	<div class="col-xs-12 col-sm-12">
		<table class = "table table-striped">
			<thead>
				<tr>
		            <th class="col-xs-3 col-sm-3">Student</th>
		            <th class="col-xs-9 col-sm-9">Skills</th>
		        </tr>
			</thead>
	        <tbody>
    			{% for i in skills %}
		          <tr>
		            <td>{{ i.student }}</td>
		            <td>{{ i.skill }}</td>
		          </tr>
		        {% endfor %}
	        </tbody>
	    </table>

	</div>
</div>


{% endblock %}

