{% extends 'base.html' %}

{% block head %}
Control: Add Skill
{% endblock %}

{% block body %}




<div class="container">

    <div class="page-header">
    	<h1>Skills that are waiting to confirmation</h1>
    </div>

    {% if skills %}
    <table class = "table table-striped">
    	<thead>
    		<th>Skills</th>
            <th>Type</th>
    		<th>Added</th>
    		{% if permission %}
				<th></th>
			{% endif %}
    	</thead>
    	<tbody>
	    	{% for i in skills %}
	    	<tr>
	    		<td>{{ i.value }}</td>
                <td>{{ i.skill_type }}</td>
	    		<td>{{ i.added_at }}</td>
	    		{% if permission %}
	    			<td align="right">
	    				<form method="POST">   
	    					{% csrf_token %}
		    				<div class="btn-group" role="group">
		    					<input type="hidden" name="{{ i.skill_type }}" value="{{ i.id }}">
					            <input class="btn btn-sm btn-danger" type="submit" name="skill_validation" value="Delete" />
					            <input class="btn btn-sm btn-warning" type="submit" name="skill_validation" value="Change" />
					            <input class="btn btn-sm btn-success" type="submit" name="skill_validation" value="Save" />
							</div>
						</form>
	    			</td> 			
    			{% endif %}   		
	    	</tr>
	    	{% endfor %}
    	</tbody>
    </table>
    {% else %}
    <p>Empty</p>
    {% endif %}



    <div class="page-header">
        <h1>Add new skill</h1>
    </div>

    <table>

        {% if language_form.value.errors %}
        <tr>
            <td></td>
            <td>{{ language_form.value.errors }}</td>
        </tr>
        {% endif %}
        <tr>
            <form class="form-horizontal" method="post">
        	    {% csrf_token %}
                <td><label class="col-sm-2 control-label" >{{ language_form.value.label_tag }}</label></td>
                <td>{{ language_form.value }}</td>
                <td><input class="btn btn-success btn-sm" type="submit" name="add_language" value="Add" /></td>
        	</form>
        </tr>


        {% if framework_form.value.errors %}
        <tr>
            <td></td>
            <td>{{ framework_form.value.errors }}</td>
        </tr>
        {% endif %}
        <tr>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <td><label class="col-sm-2 control-label" >{{ framework_form.value.label_tag }}</label></td>
                <td>{{ framework_form.value }}</td>
                <td>{{ framework_form.lang }}</td>
                <td><input class="btn btn-success btn-sm" type="submit" name="add_framework" value="Add" /></td>
            </form>
        </tr>


        {% if other_form.value.errors %}
        <tr>
            <td></td>
            <td>{{ other_form.value.errors }}</td>
        </tr>
        {% endif %}
        <tr>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <td><label class="col-sm-2 control-label" >{{ other_form.value.label_tag }}</label></td>
                <td>{{ other_form.value }}</td>
                <td><input class="btn btn-success btn-sm" type="submit" name="add_other" value="Add" /></td>
            </form>
        </tr>

    </table>
	
</div>


{% endblock %}

