{% extends 'base.html' %}

{% block head %}
ISMdb | Нові вміння
{% endblock %}

{% block body %}




<div class="container">

    <div class="page-header">
    	<h1>Вміння які чекають на підтвердження</h1>
    </div>

    {% if skills %}
    <table class = "table table-striped">
    	<thead>
    		<th>Вміння</th>
    		<th>Доданий</th>
    		{% if permission %}
				<th></th>
			{% endif %}
    	</thead>
    	<tbody>
	    	{% for i in skills %}
	    	<tr>
	    		<td>{{ i.value }}</td>
	    		<td>{{ i.updated }}</td>
	    		{% if validation_permission %}
	    			<td align="right">
	    				<form method="POST">   
	    					{% csrf_token %}
		    				<div class="btn-group" role="group">
		    					<input type="hidden" name="skill_id" value="{{ i.id }}">
					            <input class="btn btn-sm btn-danger" type="submit" name="skill_validation" value="Видалити" />
					            <input class="btn btn-sm btn-warning" type="submit" name="skill_validation" value="Змінити" />
					            <input class="btn btn-sm btn-success" type="submit" name="skill_validation" value="Зберегти" />
							</div>
						</form>
	    			</td> 			
    			{% endif %}   		
	    	</tr>
	    	{% endfor %}
    	</tbody>
    </table>
    {% else %}
    <p>Пусто</p>
    {% endif %}

    {% if add_permission %}
        <div class="page-header">
            <h1>Додати нове вміння</h1>
        </div>

        <table>
            {% if skill_form.value.errors %}
            <tr>
                <td></td>
                <td>{{ skill_form.value.errors }}</td>
            </tr>
            {% endif %}
            <tr>
                <form class="form-horizontal" method="post">
            	    {% csrf_token %}
                    <td><label class="col-sm-2 control-label" >{{ skill_form.value.label_tag }}</label></td>
                    <td>{{ skill_form.value }}</td>
                    <td><input class="btn btn-success btn-sm" type="submit" name="add_skill" value="Add" /></td>
            	</form>
            </tr>
        </table>
    {% endif %}

	
</div>


{% endblock %}

