{% extends 'base.html' %}

{% block head %}
ISMdb | Пошук
{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Пошук, сторінка = {{ page }}</h1>
        <!--  debuging information  -->

        <!--  debuging information  -->

    </div>

    <a href="{% url 'core:search' %}" class="btn btn-primary">Скинути фільтри</a>
    <br /> <br />

		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="filters">
		        <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#edit" href="#filters_child" aria-expanded="true" aria-controls="filters_child">
			          Фільтри
			        </a>
		        </h4>
		    </div>
		    <div id="filters_child" class="panel-collapse collapse" role="tabpanel" aria-labelledby="filters">
		        <div class="panel-body">
			        
					<form class="form-horizontal" method="post">
						{% csrf_token %}

						<div class="form-group">
				        	<label class="col-sm-2 control-label" >{{ english_form.value.label_tag }}</label>
				            <div class="col-sm-10">
				                {{ english_form.value }}
				            </div>
				        </div> 

						<div class="form-group">
				        <label class="col-sm-2 control-label" >{{ skill_form.skill.label_tag }}</label>
				            <div class="col-sm-10">
				                <div class="scroll_entry">
				                    {{ skill_form.skill }}
				                </div>
				            </div>
				        </div>

	    				<center><input class="btn btn-success" type="submit" value="Пошук" /></center>

					</form>

		        </div>
		    </div>
		</div>



	<div class="col-xs-12 col-sm-12">
		<table class = "table table-striped">
			<thead>
				<tr>
		            <th class="col-xs-3 col-sm-3">Student</th>
		            <th class="col-xs-3 col-sm-3">English</th>
		            <th class="col-xs-6 col-sm-6">Skills</th>
		        </tr>
			</thead>
	        <tbody>
	        	{% if students %}
    			{% for i in students %}
		          <tr>
		            <td><a href="{% url 'account:profile' username=i.username %}" target="_blank">{{ i.name }}</a></td>
		            <td>{{ i.english }}</td>
		            <td>{{ i.skills }}</td>
		          </tr>
		        {% endfor %}
		        {% else %}
		        <tr>
		            <td>Empty</td>            
		        </tr>
		        {% endif %}
	        </tbody>
	    </table>
	</div>
	<div class="btn-group mr-2" role="group" aria-label="Second group">
	{% for i in page_range %}
		<a href="{% url 'core:search_page' page=i %}{{ url_data }}" class="btn btn-info">{{ i }}</a>
	{% endfor %}
	</div>
</div>


{% endblock %}

