{% load static %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{% static 'stable/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'stable/css/style.css' %}" rel="stylesheet"/>

    <title>{% block head %}ISM db{% endblock %}</title>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Навігація</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">База студентів</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'core:search' %}">Пошук</a></li>
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Керування<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'core:add_skill' %}">Навички</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Обліковий запис<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'account:profile' username=user.username  %}">Профіль</a></li>
              <li><a href="{% url 'account:edit_profile' username=user.username %}">Редагувати профіль</a></li>              
              <li class="divider"></li>
              <li><a href="{% url 'account:logout' %}">Вийти</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'account:register'%}">Реєстрація</a></li>
          <li><a href="{% url 'account:login' %}">Вхід</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    {% block body %}
    {% endblock %}

    <!-- Core Scripts - Include with every page -->
    <script src = "{% static 'stable/js/jquery.min.js' %}"></script>
    <script src = "{% static 'stable/js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}

</body>

</html>
